.env
.env.*
.venv
.venv/
venv/

*.egg-info/
*.egg
dist/
build/

__pycache__/
**/__pycache__/
*.pyc

.DS_Store
**/.DS_Store

.pytest_cache/
.ruff_cache/
.pyright/
.mypy_cache/
.coverage
.coverage.*
coverage.json
htmlcov/

TODO.md
*.ipynb_checkpoints
*.ipynb
*.csv

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.cursor/
